


RewriteEngine On



RewriteBase /truelysell-web/



RewriteRule ^index\.php$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f



RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule . /truelysell-web/index.php [L]


