<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreamguys.truelysell">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:appComponentFactory="tru"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:appComponentFactory">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GooglePlacesAPIKey" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--FCM notification-->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".SplashScreenActivityNew"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MapsGetDirections"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MyProfileActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ChatDetailActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SubscriptionActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".viewwidgets.FullScreenImageView"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SubscriptionThankYouActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".payment.StripePayActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".GoToSubscriptionActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".RateProviderActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".WebViewActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ViewAllServicesActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ActivityServiceDetail"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ActivityCreateService"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ActivityBookService"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".HomeActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MyProviderServicesActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".EditServiceActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChangeAvailabilityActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ActivityBookingRequestDetail"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SearchServicesActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MyBookingRequestsActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SubCategoryListActivityNew"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ProviderBookingsActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".CategoryListActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MyNotificationActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".wallet.AddWalletActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".wallet.WalletDashBoard"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".wallet.CardListActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".wallet.WithdrawListActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".wallet.TransactionHistoryActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".StripeSettingsActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SubCategoryServicesActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />


        <!--        <activity-->
        <!--            android:name=".HomeActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"-->
        <!--            android:windowSoftInputMode="stateHidden|adjustNothing" />-->

        <!-- Provider for accessing camera, for Uri.fromFile(deprecated), we need to use file provider to achieve it. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="88c3fd0dcf2d1245a48a9b07c59e6dd2f5b6770e" />
    </application>

</manifest>